/*setting*/
:root {
    --face: rgba(255, 202, 139, 1);
    --black: rgb(0, 0, 0);
}


/* reset */
body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(135deg, #0e0041 0%, #60003e 100%);
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

/*animation*/
@keyframes 귀오른쪽 {
    from {
        transform: rotate(30deg);
    }

    to {
        transform: rotate(40deg) translateX(10px);
    }
}

@keyframes 귀왼쪽 {
    from {
        transform: rotate(-30deg);
    }

    to {
        transform: rotate(-40deg) translateX(-10px);
    }
}

@keyframes 손오른쪽 {
    from {
        transform: rotate(-30deg);
    }

    to {
        transform: rotate(-36deg) translateY(-4px);
    }
}

@keyframes ball {
    0% {
      top:0px;
    }
    95% {
      width: 50px;
    }
    to {
      top:300px;
      width:200px;
      height:400px
    } 
  }

  @keyframes 회전{
	100% {
    	transform: rotate(360deg);
    }
}

@keyframes 입 {
    from {
        transform: scale(0.8);
    }

    to {
        transform: scale(1.2);
    }
}

body {
    margin: 0;
    padding: 0;
}

.ball{
    left: 100px;
    top:0;
    width:100px;
    height:100px;
    border-radius:50%;
    background:transparent;
    animation:ball 1.5s ease-in Infinite Alternate;
  }

.tiger {
    position: relative;
    top: 100px;
    width: 360px;
    height: 600px;
    margin: 50px auto;
}

.tiger .ear {
    position: absolute;
    top: 100px;
    width: 63px;
    height: 74px;
    border: 5px solid var(--black);
    border-radius: 70% 80% 60% 70%;
    background-color: var(--face);
    z-index: 4;
}

.tiger .ear.left{
    top: -5px;
    left: 30px;
    transform: rotate(130deg);
    animation: 귀왼쪽 0.3s infinite alternate;
}

.tiger .ear.right{
    top: -5px;
    right: 70px;
    transform: rotate(220deg);
    animation: 귀오른쪽 0.3s infinite alternate;
}

.tiger .face {
    width: 316px;
    height: 293px;
    margin: 20px auto;
    background-color: var(--face);
    border: 5px solid var(--black);
    border-radius: 50%;
    position: absolute;
    z-index: 5;
}

.tiger .face .eye {
    position: absolute;
    top: 108px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--black);
    z-index: 5;
}

.tiger .face .eye.left {
    left: 122px;
}

.tiger .face .eye.right {
    right: 122px;
}

.tiger .face .nose {
    position: absolute;
    top: 122px;
    left: 144px;
    width: 21px;
    height: 17px;
    background-color: var(--black);
    border-radius: 50%;
    z-index: 1;
}

.tiger .face .mouthbottom {
    position: absolute;
    width: 25px;
    height: 40px;
    border: 7px solid var(--black);
    border-radius: 50%;
    top: 125px;
    left: 142px;
    z-index: -1;
    background: #c94f53;
    animation: 입 1.2s infinite alternate;
}

.tiger .mouth {
    position: absolute;
    top: 122px;
    width: 29px;
    height: 29px;
    border: 7px solid var(--black);
    border-radius: 50%;
}

.tiger .face .mouth.left {
    left: 152px;
    background-color: var(--face);
    z-index: 0;
}

.tiger .face .mouth.right {
    right: 150px;
    background-color: var(--face);
    z-index: 0;
}

.tiger .face .mouth.left::before {
    content: " ";
    position: absolute;
    top: -17px;
    left: -8px;
    width: 50px;
    height: 22px;
    background-color: var(--face);
    z-index: 2;
}

.tiger .face .mouth.right::before {
    content: " ";
    position: absolute;
    top: -17px;
    left: -8px;
    width: 50px;
    height: 22px;
    background-color: var(--face);
    z-index: 2;
}

.tiger .face .toppattern1 {
    position: absolute;
    top: -2px;
    left: 121px;
    width: 20px;
    height: 30px;
    background-color: var(--black);
    border-radius: 40% 2% 50% 70% ;
    transform: rotate(10deg);
}

.tiger .face .toppattern2 {
    position: absolute;
    top: -2px;
    left: 140px;
    width: 30px;
    height: 45px;
    background-color: var(--black);
    border-radius: 10% 10% 70% 80% ;
}

.tiger .face .toppattern3 {
    position: absolute;
    top: -2px;
    right: 120px;
    width: 20px;
    height: 30px;
    background-color: var(--black);
    border-radius: 40% 30% 50% 70% ;
    transform: scaleX(-1);
    transform: rotate(-10deg);
}

.tiger .face .left_top_볼 {
    position: absolute;
    top: 150px;
    left: 1px;
    width: 50px;
    height: 24px;
    background-color: var(--black);
    border-radius: 10% 40% 50% 10%;
    transform: rotate(-15deg);
}

.tiger .face .left_bottom_볼 {
    position: absolute;
    top: 180px;
    left: 7px;
    width: 50px;
    height: 24px;
    background-color: var(--black);
    border-radius: 1% 40% 50% 45%;
    transform: rotate(-10deg);
}


.tiger .face .right_top_볼 {
    position: absolute;
    top: 150px;
    right:1px;
    width: 50px;
    height: 24px;
    background-color: var(--black);
    border-radius: 40% 40% 20% 50%;
    transform: rotate(12deg);

}

.tiger .face .right_bottom_볼 {
    position: absolute;
    top: 180px;
    right: 9px;
    width: 50px;
    height: 24px;
    background-color: var(--black);
    border-radius: 40% 40% 30% 50%;
    transform: rotate(15deg);
}

/*body*/
.tiger .tigerbody {
    position: absolute;
    bottom: 150px;
    right: 78px;
    width: 220px;
    height: 180px;
    background-color: var(--face);
    border: 5px solid var(--black);
    z-index: 0;
}

.tiger .tigerbody .center_body {
    position: absolute;
    width: 130px;
    height: 100px;
    top: 50px;
    right: 42px;
    border-radius: 20% 20% 50% 50%;
    border: 5px solid var(--black);
    background-color: rgb(253, 227, 198);
}

.tiger .arm.left {
    position: absolute;
    top: 290px;
    left: 3px;
    width: 100px;
    height: 60px;
    background-color: var(--face);
    transform: rotate(-50deg);
    border: 5px solid var(--black);
    border-radius: 50% 15% 10% 50%;
    z-index: 1;
}

.tiger .arm.right {
    position: absolute;
    top: 258px;
    right: 18px;
    width: 100px;
    height: 60px;
    background-color: var(--face);
    border: 5px solid var(--black);
    border-radius: 10% 50% 50% 10%;
    z-index: 1;
    transform: rotate(80deg);
    animation: 손오른쪽 0.4s infinite alternate;
}

.tiger .arm.right .flag {
    position: absolute;
    top: -30px;
    left: 95px;
    width: 170px;
    transform: rotate(50deg);
}

.tiger .arm.left::before {
    content: " ";
    position: absolute;
    top: 41px;
    left: 36px;
    width: 70px;
    height: 20px;
    border-radius: 20%;
    background-color: var(--face);
}

.tiger .arm.right::before {
    content: " ";
    position: absolute;
    top: px;
    right: 83px;
    width: 13px;
    height: 50px;
    background-color: var(--face);
}

.tiger .hand.left1 {
    position: absolute;
    top: 340px;
    left: 15px;
    width: 15px;
    height: 7px;
    background-color: var(--black);
    border-radius: 50% 50% 20% 50%;
    transform: rotate(-50deg);
    z-index: 8;
}

.tiger .hand.left2 {
    position: absolute;
    top: 349px;
    left: 25px;
    width: 15px;
    height: 7px;
    background-color: var(--black);
    border-radius: 50% 50% 20% 50%;
    transform: rotate(-50deg);
    z-index: 8;
}

.tiger .leg.right {
    position: absolute;
    bottom: 120px;
    left: 62px;
    width: 70px;
    height: 50px;
    background-color: var(--face);
    border: 5px solid var(--black);
    border-radius: 10% 15% 40% 40%;
    z-index: 1;
}

.tiger .leg.left {
    position: absolute;
    bottom: 120px;
    right: 78px;
    width: 70px;
    height: 50px;
    background-color: var(--face);
    border: 5px solid var(--black);
    border-radius: 10% 15% 40% 40%;
    z-index: 1;
}

.tiger .leg.right::before {
    content: " ";
    position: absolute;
    bottom: 30px;
    width: 21px;
    height: 20px;
    background-color: var(--face);
}

.tiger .leg.left::before {
    content: " ";
    position: absolute;
    bottom: 30px;
    right: -1px;
    width: 211px;
    height: 20px;
    background-color: var(--face);
}

.shadow {
    position: absolute;
    bottom: 100px;  
    left: 40px;  
    width: 280px;
    height: 55px;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    border: 5px solid var(--black);
    border-radius: 90%;
}

.box {
    width: 278px;
    height: 600px;
    margin: -80px auto;
    border: 5px solid var(--black);
    border-radius: 0% 0% 50% 50%;
    display: flex;
    background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%);
}

.moon {
    position: absolute;
    top: 5px;
    width: 650px;
    margin: 1% 50%;
    animation: 회전 30s linear infinite;
    transform-origin: 50% 50%;
}


